.galeriap {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: white;
    font-size: large;
    padding: 0% 10%;
    margin: 3%;
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: 500px;
    margin: 10px 0;
    object-fit: cover;
}

// .imagenesGaleria{
//     width: 100%;
//     margin: auto;
// }

//  .fotoGaleria{
//     width: 100%;
//     margin: 5px;
//     text-align: center;
//     transition: transform 2s;

//     &:hover{
//      transform: scale(1.2, 1.2);
//      object-fit: contain;
//     }
// }



.galeriaVideo {
    margin-bottom: 10px;
    text-align: center;
}