.carousel-inner {
    text-align: center;
    margin: 3rem 0;
    grid-area: 2 / 1 / 3 / 4;

    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }
}

/* inicio secciones */

.fotoSection{
    object-fit: contain;
    height: 300px;
    width: 70%;

    &:hover{
        transform: scale(1.2, 1.2);
        z-index: 50;
        object-fit: contain;
    }

}

.first{
    padding: 25px 0;
    grid-column: 1 / span 2;
    grid-area: 3 / 1 / 4 / 4;
    @extend %flexRow;
}

.second{
    padding: 25px 0;
    grid-area: 4 / 1 / 5 / 4;
    @include flexBox(row-reverse);
}

.third{
    padding: 25px 0;
    grid-area: 5 / 1 / 6 / 4;
    @extend %flexRow;
}

.four{
    padding: 25px 0;
    grid-area: 6 / 1 / 7 / 4;
    @include flexBox (row-reverse);
}

.parrafop{
    width: 600px;
    margin: 73px 40px;
    color: map-get($colores,terciario);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color:map-get($colores,cuarto);
    text-decoration: none;
    text-align: center;
    font-family: 'Bangers', cursive;
}

@include mediaQuery (768px){
    .nav li{
        display: block;
        font-size: 20px;
        padding: 5px;
        border-bottom: 1px solid #0174aa;
    
        .active{
            background-color: #0174aa;
    
            & a {
                color: white;
            }
        }
    
    }
    
    .first,second,third,four{
        display: block;
    
        .piePagina{
            display: block;
            width: 100%;
        }
    }
    
    .footer{
        padding: 53px;
     }
    
    .parrafop{
        width: auto;
    }
    
    .fotoSection{
        width: 100%;
    }
    
    .sectionContainerGrid{
         .foto, horarios{
            grid-area: auto;
            grid-column: 1/3;
            margin-top: 20px;
         
        }
    
        .foto, fotoSection{
            width: 100%;
            float: left;
        }
    
    }
}
